@import '~antd/lib/style/themes/default.less';

.pre {
  margin: 12px 0;
  padding: 12px 20px;
  background: @input-bg;
  box-shadow: @card-shadow;

  
}

:global{
  .ant-modal-header{
    background-color:#2FBBB8;

  }
  .ant-modal-title{
    font-size:14px;
font-family:PingFangSC-Medium;
color:rgba(255,255,255,1);
opacity:1;
  }

  
.homeinput{
  width: 90%;
  margin-left:5%;
  height: 50px;

  margin-top:15px;
}
.homeinput-a{
  width: 20%;
  height: 50px;
  line-height:50px;
  font-size:14px;
  float: left;
  text-align: right;
  color:#000000;
}
.homeinput-b{
  width: 70%;
  height: 50px;
  line-height:50px;
  float: left;

}
.ant-modal-body{
  padding:0;
}
.ant-tabs-nav{
  width: 100%;
}
.ant-tabs-tab{
  width: 50%;
  text-align: center;
}
.ant-tabs-nav .ant-tabs-tab-active{
  background-color: #2FBBB8;
  color:#FFFFFF;
}
.ant-tabs-ink-bar{
  width:1px !important;
}
.ant-tabs-top .ant-tabs-ink-bar-animated{
  width: 1px !important;
}
.ant-tabs-nav-container-scrolling{
  padding-left:0;
  padding-right:0;
}
.ant-tabs-nav .ant-tabs-tab{
  margin:0 0 0 0 !important;
}

}
.pabone{
  width: 94%;
  height: 40px;
  line-height: 40px;
  margin-left:3%;
}
.pabone p{

  float: left;

}
.pabone p:nth-child(1){
  width: 25%;
}
.pabone p:nth-child(2){
  width: 58%;
  margin-right: 2%;
}
.patwo{
  margin-top:10px;
  width: 94%;
  height: 40px;
  line-height: 40px;
  margin-left:3%;
}
.patwo p{
  float: left;
}
.patwo p:nth-child(1){
  width: 15%;
  
}
.patwo p:nth-child(2){
  width: 85%;
}
.pathree{
  margin-top:10px;
  width: 94%;
  height: 40px;
  line-height: 40px;
  margin-left:3%;
}
.pathree p{
  float: left;
}
.pathree p:nth-child(1){
  width: 15%;
}
.pathree p:nth-child(2){
  width: 33%;
}
.pathree p:nth-child(3){
  margin-left: 2%;
  width: 15%;
}
.pathree p:nth-child(4){
  width: 33%;
}
.tabone{
  width: 94%;
  height: 40px;
  line-height: 40px;
  margin-left:3%;
}
.tabone p{
  width: 20%;
  float: left;
}
.tabtwo{
  margin-top:20px;
  width: 94%;
  height: 40px;
  line-height: 40px;
  margin-left:3%;
}
.tabtwo p{
  float: left;
}
.tabtwo p:nth-child(1){
  width: 20%;
}
.tabtwo p:nth-child(2){
  width: 80%;
}