@import '~antd/lib/style/themes/default.less';

.pre {
  margin: 12px 0;
  padding: 12px 20px;
  background: @input-bg;
  box-shadow: @card-shadow;

  
}

:global{
  .ant-modal-header{
    background-color:#2FBBB8;

  }
  .ant-modal-title{
    font-size:14px;
font-family:PingFangSC-Medium;
color:rgba(255,255,255,1);
opacity:1;
  }

  
.homeinput{
  width: 90%;
  margin-left:5%;
  height: 50px;

  margin-top:15px;
}
.homeinput-a{
  width: 20%;
  height: 50px;
  line-height:50px;
  font-size:14px;
  float: left;
  text-align: right;
  color:#000000;
}
.homeinput-b{
  width: 70%;
  height: 50px;
  line-height:50px;
  float: left;

}

}
